* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pink: #B52184;
  --purple: #312D64;
  --white: #F9F4FB;
  --whitew: #FFF;
}

body {
  background-color: var(--white);
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.3rem;
}

#astronauta2 {
  display: none;
}

header h1 {
  color: var(--pink);
  font-size: 3.2rem;
  font-weight: 900;
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
}

header p {
  color: var(--purple);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

main {
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  display: flex;
  justify-content: center;
  width: auto;
}

.organ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0;
}

.organ #group {
  background-color: var(--whitew);
  padding: 2.6rem;
  border-radius: 2rem;
  height: auto;
  width: 35rem;
  height: auto;
}

#group:nth-of-type(3) {
  padding-bottom: 5rem;
}

.organ h2 {
  color: var(--pink);
  font-size: 2.9rem;
  font-weight: 900;
  margin-top: 3.3rem;
  margin-bottom: 2rem;
}

.organ p {
  color: var(--purple);
  font-size: 1.6rem;
  font-weight: 600;
  width: 26.5rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titan {
  margin: 7.8rem 0 0 4.3rem;
}

#sidebar h1 {

  color: var(--pink);
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 4.3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-right: 3.9rem;
}

input {
  width: 34.8rem;
  height: 4.8rem;
  padding: 1.2rem 1.6rem 1.2rem 5rem;  
  border-radius: 1.6rem;
  border: .15rem solid var(--purple);  

  color: #312D64;

  font-size: 1.6rem;
}

#search1 {
  background-image: url("img/person.png");
  background-position: 1.4rem 1.2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
}

#search2 {
  background-image: url("img/aRoba.png");
  background-position: 1.4rem 1.2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
}


textarea {
  width: 34.8rem;
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  border-radius: 1.6rem;
  border: .15rem solid var(--purple);

  color: var(--purple);

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  height: 12.6rem;
}

button {
  display: flex;

  height: 4.5rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  border-style: none;

  color: var(--whitew);
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem; /* 171.429% */
  text-transform: capitalize;

  margin: 2.4rem 0 6.5rem;
}

#star {
  display: none;
}

footer {
  display: flex;
  height: 7.8rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;

  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;

  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

@media (min-width: 1200px) {

  header #astronauta {
    display: none;
  }
  header #astronauta2 {
    display: flex;
    margin-bottom: 10rem;
    height: auto;
    width: auto;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #group {
    margin-left: 10.9;
  }

  header h1 {
    font-size: 5.8287rem;
    margin-bottom: 0.8rem;
  }
  
  header p {
    font-size: 3.2rem;
    margin-bottom: 17.9rem;
  }

  .organ {
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
    padding: 6.4rem 11.1rem;
  }

  .organ #group {
    padding: 3.2rem;
    height: 45rem;
    width: 36.6rem;
  }

  h2 {
    font-size: 3.5302rem;

    margin-top: 4rem;
    margin-bottom: 2.4rem;
  }

  .organ #group p {
    font-size: 2rem;
  }
  
  #star {
    display: flex;
  }

  #sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #sidebar h1 {
    font-size: 4.2rem;
  }

  #titan {
    margin-left: 11.1rem;
  }

  #group p {
    height: 18.2rem;
    width: 32.1rem;
  }

  input, textarea {
    width: 52.9rem;
  }

  button {
    margin: 2.4rem 0 9.4rem 0;
  }


  
}